urlset {
  background-color: black;
}
sandwich, ingredient, name {
    font-family: "Helvetica", sans-serif;
  font-size: 24px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}
condiment {
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  color: rgb(255, 255, 0);
  line-height: 1.5;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}
vegetable {
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  color: rgb(0, 255, 0);
  line-height: 1.5;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}
seasoning {
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  color: rgb(99, 99, 99);
  line-height: 1.5;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}
cheese {
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  color: rgb(255, 128, 0);
  line-height: 1.5;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}
meat {
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  color: rgb(255, 0, 0);
  line-height: 1.5;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}
bread_top, bread_bottom {
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  color: rgb(90, 60, 30);
  line-height: 1.5;
  margin: 1rem 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: table;
}